<!DOCTYPE html>
<html>
<head>
  <title>EFT Helper</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'main-bundle' %>
  <%= javascript_pack_tag 'main-bundle' %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
<div class="app-wrapper">
  <%= yield %>
  <div class="background" />
</div>
</body>
</html>